#root {
  max-width: 1280px;
}
.navigation {
  display: flex;
  border-bottom: 1px solid grey;
  padding: 10px;
  width: 100%;
  gap: 20px;
  box-shadow: 0 2px 2px -2px gray;
}
.active {
  color: red 
}
